/*
 * ==================================================================
 *  KKK
 * ------------------------------------------------------------------
 *  $Source: /home/jbowes/kkk/src/css/RCS/kkk.css,v $
 *  $Id: kkk.css,v 1.2 2015/08/16 19:20:41 jbowes Exp $
 * ------------------------------------------------------------------
 *  SET EDITOR FOR 4 space TAB stops
 *  :set autoindent tabstop=4 showmatch	 (vi)
 * ------------------------------------------------------------------
 * 	YELLOW: FFF100
 * 	BLUE: 1F396D
 * 	ORANGE: D83428
 * ==================================================================
 */

BODY
{
	font-family: arial, helvetica;
	font-size: 10pt;
}

TH,
TH TH,
TH TH TH,
.tdh {
	font-size: 10pt;
	background-color: #FFF100;
	font-weight: bold;
	text-align: center;
	}

.ths {
	font-size: 9pt;
	text-align: center;
	background-color: #FFF100;
	}

.tht {
	font-size: 8pt;
	background-color: #FFF100;
	}

H1.banner	{
	font-size: 16pt;
	font-weight: bold;
	color: #000000;
	}

H2.banner	{
	font-size: 14pt;
	font-weight: bold;
	color: #000000;
	font-style: italic;
	}

H3.banner	{
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	font-style: italic;
	}

H1	{
	font-size: 14pt;
	font-weight: bold;
	}

H2	{
	font-size: 14pt;
	font-weight: bold;
	font-style: italic;
	}

H3	{
	font-size: 12pt;
	font-weight: bold;
	}

H4	{
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
	}

H5	{
	font-size: 10pt;
	font-weight: bold;
	}

H6	{
	font-size: 10pt;
	font-style: italic;
	font-style: italic;
	}

INPUT.tdc,
.tdc {
	text-align: center;
	}

.tdmc,
INPUT.tdmc,
TD.tdmc,
TD TD.tdmc,
.tdms {
	font-size: 10pt;
	text-align: center;
	}

INPUT.tdm,
.tdm {
	font-size: 10pt;
	}

INPUT.tdsc,
INPUT.tdcs,
TD INPUT.tdsc,
TD INPUT.tdcs,
TD.tdsc,
TD.tdcs,
TD A.tdsc,
TD A.tdcs,
A.tdsc,
A.tdcs,
TD TD.tdsc,
TD TD.tdcs,
.tdsc,
.tdcs {
	font-size: 9pt;
	text-align: center;
	vertical-align: top;
	}

.tdrs {
	font-size: 9pt;
	text-align: right;
	}

.tdfs {
	font-size: 9pt;
	text-align: left;
	}

.tdcsy {
	background: #FFF100;
	font-size: 9pt;
	text-align: center;
	}

TD TD.tdcsly,
TD.tdcsly,
.tdcsly {
	background: #FFFFAA;
	font-size: 9pt;
	text-align: center;
	vertical-align: top;
	}

TD.tdsly,
TD TD.tdsly,
.tdsly {
	background: #FFFFAA;
	font-size: 9pt;
	vertical-align: top;
	}


.tdscgray,
TD.tdscgray,
TD TD.tdscgray {
	background: #DDDDDD;
	text-align: center;
	font-size: 9pt;
    }

.tdsgray,
TD.tdsgray,
TD TD.tdsgray {
	background: #DDDDDD;
	text-align: left;
	font-size: 9pt;
    }

.tdslg,
TD.tdslg,
TD TD.tdslg {
	background: #AAFFAA;
	font-size: 9pt;
	vertical-align: top;
    }

TD.tdcslg,
TD TD.tdcslg, 
.tdcslg {
	font-size: 9pt;
	text-align: center;
	vertical-align: top;
	background: #AAFFAA;
	}

.tdsltyel,
TD.tdsltyel,
TD TD.tdsltyel {
	background: #FFFF66;
	font-size: 9pt;
    }

.tdscltyel,
TD.tdscltyel,
TD TD.tdscltyel {
	background: #FFFF66;
	font-size: 9pt;
	text-align: center;
    }


.tdsltblue,
TD.tdsltblue,
TD TD.tdsltblue {
	background: #66DDFF;
	font-size: 9pt;
    }

.tdscltblue,
TD.tdscltblue,
TD TD.tdscltblue {
	background: #66DDFF;
	text-align: center;
	font-size: 9pt;
    }

TD.tds,
A.tds,
LI.tds,
LI A.tds,
TD LI A.tds,
TD A.tds,
INPUT.tds,
TD TD.tds,
TD INPUT.tds,
.tds {
	font-size: 9pt;
	vertical-align: top;
	text-align: left;
	}


TD.tdsa,
TD TD.tdsa,
.tdsa {
	font-size: 9pt;
	vertical-align: top;
	text-align: left;
	}


INPUT.tdt,
.tdt {
	font-size: 8pt;
	}

INPUT.tdct,
.tdct {
	font-size: 7pt;
	}

INPUT.tdbt,
.tdbt {
	font-weight: bold;
	vertical-align: top;
	}

.tdlcs,
INPUT.tdlcs,
TD.tdlcs,
TD TD.tdlcs,
TD TD TD.tdlcs
	{
	font-size: 9pt;
	vertical-align: top;
	text-align: center;
	background-color: #FFF100;
	}

.tdls,
INPUT.tdls,
TD.tdls,
TD TD.tdls,
TD TD TD.tdls
	{
	font-size: 9pt;
	vertical-align: top;
	background-color: #FFF100;
	}

.tdl,
INPUT.tdl,
TD.tdl,
TD TD.tdl,
TD TD TD.tdl
	{
	vertical-align: top;
	background-color: #FFF100;
	}

.trace {
	font-size: 8pt;
	text-align: center;
	}

.faq {
	font-size: 9pt;
	text-align: left;
	padding-left: 0px;
	}

.faqcontent {
	font-size: 9pt;
	text-align: left;
	padding-left: 25px;
	}

TT	{
	color: #CC0066;
	}

.commentlist {
    margin-left: 0;
    font-size: 8pt;
    padding-left: 0;
    list-style: none;
    }

.commentlistitem {
    padding-left: 10px;
    padding-left: 20px;
    font-size: 8pt;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    }

.commentlistbody {
    padding-left: 20px;
    margin-left: 0;
    font-size: 8pt;
    list-style: none;
    }

.navbar {
	font-size: 8pt;
	//background-color: #14345C;	// Deep blue: IGP
	background-color: #FFFFAA;
	vertical-align: top;
	color: #000000;
	width: 100%;
	text-align: center;
	//height: 37px;
}

TD.navbar {
	font-size: 8pt;
	//background-color: #14345C;
	background-color: #FFFFAA;
	vertical-align: top;
	color: #000000;
	width: 100%;
	text-align: center;
	height: 22px;
}

a.navbar {
	font-size: 8pt;
	//background-color: #14345C;
	background-color: #FFFFAA;
	vertical-align: top;
	color: #000000;
}

a.footer {
	font-size: 9pt;
	vertical-align: top;
}

